<div class="card" *ngIf="isLoaded && !isLoading">
  <header id="header">
    <h2>{{ id }}</h2>
    <h4>Type: {{ type }}</h4>
  </header>

  <div class="content">
    <div>
      <img id="img" defaultImage="{{ 'assets/spinner.gif' }}" [lazyLoad]="imageUrl" [alt]="name" />
    </div>

    <div class="stats">
      <h1>{{ name | capitalize }}</h1>
      <label for="hp" class="title">HP:</label>
      <progress id="hp" max="100" [value]="hp"> {{ hp }}% </progress>

      <label for="attack" class="title">Attack:</label>
      <progress id="attack" max="100" [value]="attack"></progress>

      <label for="defense" class="title">Defense:</label>
      <progress id="defense" max="100" [value]="defense"></progress>

      <label for="speed" class="title">Speed:</label>
      <progress id="speed" [value]="speed" max="100"></progress>

      <label for="specialAttack" class="title">Sp. Attack:</label>
      <progress id="specialAttack" max="100" [value]="specialAttack"></progress>

      <label for="specialDefense" class="title">Sp. Defense:</label>
      <progress
        id="specialDefense"
        max="100"
        [value]="specialDefense"
      ></progress>
    </div>

    <br />

    <hr />

    <div class="profile">
      <h2 class="text-center">Profile</h2>
      <div class="box">
        <span class="profile-text">Height: {{ height }}m</span>

        <span class="profile-text">Weight: {{ weight }}kg</span>

        <span class="profile-text">Effort: {{ effort }}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading && !isLoaded">
  <!-- Load Spinner Component here -->
  <mat-spinner [color]="color"></mat-spinner>
</div>
