.container {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}

.container input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}

.container input:focus {
  border-bottom: 1px solid red;
}
