<div>
  <mat-accordion
    [multi]="multi"
    *ngFor="
      let type of pokemonTypes | paginate: { itemsPerPage: 5, currentPage: p }
    "
  >
    <mat-expansion-panel (opened)="sendId(type?.urlId)">
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="type.urlId">
          <h5>#{{ type.urlId }}</h5>
        </mat-panel-title>
        <mat-panel-description *ngIf="type.name">
          <h4>Type Name: {{ type.name | capitalize }}</h4>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Card -->
      <div class="container">
        <div class="card" *ngFor="let p of pokemon">
          <div class="card-content">
            <div class="card-img">
              <!-- <img id="img" [src]="sendImage(p?.urlId)" /> -->
              <img
              id="img"
              defaultImage="{{ 'assets/spinner.gif' }}"
              [lazyLoad]="sendImage(p?.urlId)"
            />
            </div>

            <div class="card-text">
              <h4>
                <span>#{{ p?.urlId }}</span
                >&nbsp;<b>{{ p?.name }}</b>
              </h4>
              <a (click)="goToPokemonPage(p?.urlId)" class="btn">View Stats</a>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
    </mat-expansion-panel>
  </mat-accordion>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
