<div class="input-container">
  <input
    type="text"
    ngModel
    name="name"
    #name
    (keyup)="filterByName(name.value)"
    placeholder="Search Pokemon by name..."
  />
  &nbsp; &nbsp;
  <input
    type="number"
    #id
    (keyup)="filterById(id.value)"
    ngModel
    name="id"
    placeholder="Search Pokemon by ID..."
  />
</div>

<div class="container">
  <div class="card" *ngFor="let p of filtered">
    <div class="card-content">
      <div class="card-img">
        <img id="img" [src]="p?.sprite" />
      </div>

      <div class="card-text">
        <h4>
          <span>#{{ p?.id }}</span
          >&nbsp;<b>{{ p?.name | capitalize }}</b>
        </h4>
        <a routerLink="/pokemon-view" class="btn">View Stats</a>
      </div>
    </div>
  </div>
</div>
