<div class="input-container">
  <input
    type="text"
    ngModel
    name="name"
    #name
    (keyup)="filterByName(name.value)"
    placeholder="Search Pokemon by name..."
  />
  &nbsp; &nbsp;
  <input
    type="number"
    #id
    (keyup)="filterById(id.value)"
    ngModel
    name="id"
    placeholder="Search Pokemon by ID..."
  />
</div>

<div class="container">
  <div
    class="card"
    *ngFor="
      let pokemon of filtered | paginate: { itemsPerPage: 20, currentPage: p }
    "
  >
    <div *ngIf="!error" class="card-content">
      <div *ngIf="isLoading" class="card-img">
        <img id="img" src="../../assets/spinner.gif" />
      </div>

      <div *ngIf="isLoaded" class="card-img">
        <img id="img" [src]="pokemon?.sprite" />
      </div>

      <div class="card-text">
        <h4>
          <span>#{{ pokemon?.id }}</span
          >&nbsp;<b>{{ pokemon?.name | capitalize }}</b>
        </h4>
        <a (click)="goToPokemonPage(pokemon?.url)" class="btn">View Stats</a>
      </div>
    </div>
  </div>
</div>

<!-- <span *ngIf="!error">
  <span class="text-center" *ngIf="isLoading"> Loading... </span>
</span> -->

<span class="text-center" *ngIf="error">
  Loading failed! Please check your connection....
</span>

<div *ngIf="!error">
  <pagination-controls
    class="my-pagination"
    (pageChange)="p = $event"
    previousLabel="Click See previous..."
    nextLabel="Click See more..."
  ></pagination-controls>
</div>
<div *ngIf="!error" style="text-align: center">
  <button *ngIf="previousPage === true" (click)="getPreviousPageData()">
    See Previous...
  </button>
  <button (click)="getNextPageData()">See more...</button>
</div>
