/* .container {
  margin: 0px auto;
  max-width: 700px;
  padding: 5rem;
}

.container .content p a {
  color: blue;
}

.content {
  border: 1px solid red;
} */

p a {
  text-decoration: underline;
  cursor: pointer;
}
p a:hover {
  padding: 0.5rem;
  background: transparent;
  border-radius: 3px;
  text-decoration: none;
}

#welcome-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('https://pngimg.com/uploads/pokemon/pokemon_PNG33.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
}

#inner {
  height: 80%;
  width: 100%;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  scroll-behavior: smooth;
}

.content {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding: 5rem 0;
  margin: 0 5rem;
  border-radius: 5px;
}

.content h1 {
  margin-bottom: 2rem;
  color: white;
}

.content p {
  margin: 0.7rem 0;
}

.myImg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media only screen and (max-width: 500px) and (max-width: 768px) and (max-width: 1200px) {
  .parallax {
    background-attachment: scroll;
  }

  .content {
    background: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    padding: 2rem 1rem;
    border-radius: 3px;
    margin: 0 auto;
    width: 80vw;
  }

  .content h1 {
    margin-bottom: 1rem;
    color: white;
  }

  .content p {
    margin: 0.7rem 0;
  }

  #welcome-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://pngimg.com/uploads/pokemon/pokemon_PNG33.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  #inner {
    height: 80%;
    color: white;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    scroll-behavior: smooth;
  }
}
