<div id="welcome-section">
  <div id="inner">
    <div>
      <!-- <img
        [src]="pngimg.com/uploads/pokemon/pokemon_PNG33.png"
        alt="Pokemon"
        class="myImg"
      /> -->
    </div>
    <span>
      <h1>Welcome To PokeLogue</h1>

      <p>
        Find a collection of all Pokemon available by navigating to
        <a (click)="goToAllPokemon()">All Pokemon</a>
      </p>

      <p>
        Find a collection of Pokemon By Types by navigating to
        <a (click)="goToTypesPage()">Pokemon Types</a>
      </p>

      <p>
        Fun Tip: You can see more about each Pokemon by clicking on the 'View
        Stats' link.
      </p>
    </span>
  </div>
</div>
